ng-content
span.form-control-feedback(*ngIf="hasFeedback && isDirty" aria-hidden="true")
    i.glyphicon([ngClass]="iconClass")

ifs-control-messages(
    *ngIf="isDirty",
    [control]="control",
    [messages]="messages"
)
